table {
	width: 100%;
	text-align: center;
}
legend {
	color: #007cff;
}
td {
	border-bottom: 1px solid #afafaf;
}
th {
	padding: 7px 0 7px 0;
	position: sticky;
	top: 0;
}
th:first-child {
	border-radius: 0 0 0 5px;
}
th:last-child {
	border-radius: 0 0 5px 0;
}
tbody, tfoot {
	font-weight: bold;
}

.default {
	color: #828282;
	border-bottom: 1px solid #747474;
}
.source {
	position: relative;
	top: 30px;
}

span {
	margin-left: 3px;
	padding: 3px;
	color: #a2a2a2;
	font-weight: normal;
}

/* VOVA: select in head*/
.form__label{
	display: block;
}
.send{
	margin-top: 1.9rem;
}
/* END */